<form #form="ngForm" (ngSubmit)="createPI(form)">
   <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
     User Information
   </h6>
   <div class="flex flex-wrap">
     <div class="w-full lg:w-6/12 px-4">
       <div class="relative w-full mb-3">
         <label for="shipper_form" class="block mb-2 text-sm font-medium text-white">Оберіть постачальника:</label> 
         <select 
            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" 
            name="shipper_form"
            [(ngModel)]="shipper_form"
            (ngModelChange)="onShipperChange($event)"
          >
            <option  hidden></option>
            <option *ngFor="let item of shippers_arr">{{item.name}}</option>
         </select>
       </div>
     </div>
     <div class="w-full lg:w-6/12 px-4">
       <div class="relative w-full mb-3">
        <label for="shipper_form" class="block mb-2 text-sm font-medium text-white">Оберіть контракт:</label> 
        <select 
           class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" 
           name="contract_form"
           [(ngModel)]="contract_form"
         >
           <option *ngFor="let item of contracts_arr">{{item.contract_number}} {{item.contract_date}}</option>
        </select>
       </div>
     </div>
   </div>

   <hr class="mt-6 border-b-1 border-blueGray-300">

   <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
     Proforma Invoice Data
   </h6>
   <div class="flex flex-wrap">
     <div class="w-full lg:w-12/12 px-4">
       <div class="relative w-full mb-3">
         <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
           Коментар
         </label>
         <input 
          type="text"
          name="comment"
          [(ngModel)]="comment"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
       </div>
     </div>
     <div class="w-full lg:w-4/12 px-4">
       <div class="relative w-full mb-3">
         <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
          PI Number
         </label>
         <input 
          type="text"
          name="pi_number"
          [(ngModel)]="pi_number"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
       </div>
     </div>
     <div class="w-full lg:w-4/12 px-4">
       <div class="relative w-full mb-3">
         <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
          PI Data
         </label>
         <input 
          type="date"
          name="pi_date"
          [(ngModel)]="pi_date"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
       </div>
     </div>
     <div class="w-full lg:w-4/12 px-4">
       <div class="relative w-full mb-3">
         <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
           Incoterms
         </label>
         <input 
          type="text"
          name="incoterms"
          [(ngModel)]="incoterms"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" value="Postal Code">
       </div>
     </div>
   </div>

   <hr class="mt-6 border-b-1 border-blueGray-300">

   <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
     About Me
   </h6>
   <div class="flex flex-wrap">
    <table class="w-full whitespace-nowrap">
      <thead class="bg-black/60">       
          <th class="text-center py-3 px-2 rounded-l-lg">
            <button 
              type="button"
              (click)="add_line()"
              class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                +
            </button>
            <span class="ml-3">Артикул</span></th>
          <th class="text-center py-3 px-2">Розмір</th>
          <th class="text-center py-3 px-2">Кількість</th>
          <th class="text-center py-3 px-2">Ціна</th>
          <th class="text-center py-3 px-2 rounded-r-lg">Сума</th>
      </thead>
      <tr class="border-b border-gray-700" *ngFor="let item of pi_products_arr; index as i">
          <td class="py-3 px-2 font-bold text-center bg-white">
            <button 
              type="button"
              (click)="delite_line(i)"
              class="px-3 py-2 text-xs font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                x
            </button>
            <input
              id="inpt" 
              type="text" 
              [ngClass]="input_class"
              name="key_product"
              [(ngModel)]="key_product"
              (ngModelChange)="onKeyChange($event)"
              (keyup.enter)="findProduct()"
              >
          </td>
          <td class="py-3 px-2 text-center bg-white">
            <span class="ml-2 bg-white">{{tyre[i].size}}{{tyre[i].model}} {{tyre[i].index_speed}}{{tyre[i].index_load}}</span>
          </td>
          <td class="py-3 px-2 text-center bg-white">
            <input type="number">
          </td>
          <td class="py-3 px-2 text-center bg-white">
            <input type="number">
          </td>
          <td class="py-3 px-2 text-center bg-white">
            <span></span>
          </td>
      </tr>                                     
  </table>
   </div>
 </form>
