<div>
   <app-table-headers [redir] = 'create_product'></app-table-headers>
</div>
<div>
   <div id="last-users">
      <h1 class="font-bold py-4 uppercase">Шини:</h1>
      <div class="overflow-x-scroll">
          <table class="w-full whitespace-nowrap">
              <thead class="bg-black/60">
                  <th class="text-left py-3 px-2 rounded-l-lg">Артикул</th>
                  <th class="text-left py-3 px-2">Бренд</th>
                  <th class="text-left py-3 px-2">Розмір</th>
                  <th class="text-left py-3 px-2">Модель</th>
                  <th class="text-left py-3 px-2">Слойність</th>
                  <th class="text-left py-3 px-2">Тип</th>
                  <th class="text-left py-3 px-2">Сезон</th>
                  <th class="text-left py-3 px-2 rounded-r-lg">Доп відмітки</th>
              </thead>
              <tr class="border-b border-gray-700">
                  <td class="py-3 px-2 font-bold">i1234</td>
                  <td class="py-3 px-2">Tigar</td>
                  <td class="py-3 px-2">225/45R18 99V</td>
                  <td class="py-3 px-2">Winer</td>
                  <td class="py-3 px-2">-</td>
                  <td class="py-3 px-2">легкова</td>
                  <td class="py-3 px-2">зима</td>
                  <td class="py-3 px-2">гарна шина</td>
              </tr>
              <tr class="border-b border-gray-700">
               <td class="py-3 px-2 font-bold">k1235</td>
               <td class="py-3 px-2">Aeolus</td>
               <td class="py-3 px-2">275/70R22 185/188</td>
               <td class="py-3 px-2">AGS80</td>
               <td class="py-3 px-2">18</td>
               <td class="py-3 px-2">грузова </td>
               <td class="py-3 px-2">зима</td>
               <td class="py-3 px-2">гарна шина</td>
           </tr>                                      
          </table>
      </div>
  </div>  
</div>
