<div>
   <app-table-headers [redir] = 'create_product'></app-table-headers>
</div>
<div>
   <div id="last-users">
      <h1 class="font-bold py-4 uppercase">Шини:</h1>
      <div class="overflow-x-scroll">
          <table class="w-full whitespace-nowrap">
              <thead class="bg-black/60">
                  <th class="text-left py-3 px-2 rounded-l-lg">Артикул</th>
                  <th class="text-left py-3 px-2">Бренд</th>
                  <th class="text-left py-3 px-2">Розмір</th>
                  <th class="text-left py-3 px-2">Модель</th>
                  <th class="text-left py-3 px-2">Слойність</th>
                  <th class="text-left py-3 px-2">Тип</th>
                  <th class="text-left py-3 px-2">Сезон</th>
                  <th class="text-left py-3 px-2 rounded-r-lg">Доп відмітки</th>
              </thead>
              <tr class="border-b border-gray-700" *ngFor="let item of products">
                  <td class="py-3 px-2 font-bold">{{item.tyre_id}}</td>
                  <td class="py-3 px-2">{{item.brand}}</td>
                  <td class="py-3 px-2">{{item.size}} {{item.index_speed}}{{item.index_load}}</td>
                  <td class="py-3 px-2">{{item.model}}</td>
                  <td class="py-3 px-2">{{item.sl}}</td>
                  <td class="py-3 px-2">{{item.type}}</td>
                  <td class="py-3 px-2">{{item.sezon}}</td>
                  <td class="py-3 px-2">{{item.comment}}</td>
              </tr>                                     
          </table>
      </div>
  </div>  
</div>
