<div>  
   <div class="inline-flex rounded-md shadow-sm" role="group">
     <button type="button" (click)="newConsignee()" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
       Новий Постачальник
     </button>
     <button type="button" (click)="newContract()" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
        Новий Договір
     </button>
   </div>
   <div id="pi">
     <h1 class="font-bold py-4 uppercase">Постачальники:</h1>
     <div class="overflow-x-scroll">
         <table class="w-full whitespace-nowrap">
             <thead class="bg-black/60">
                 <th class="text-center py-3 px-2 rounded-l-lg">Постачальник</th>
                 <th class="text-center py-3 px-2 rounded-r-lg">Адреса</th>
             </thead>
             <tr class="border-b border-gray-700" *ngFor="let item of shippers">
                 <td class="py-3 px-2 font-bold text-center">{{item.name}}</td>
                 <td class="py-3 px-2 text-center">{{item.address}}</td>
             </tr>                                     
         </table>
     </div>
   </div>          
  </div>
